<div class="container">
    <h2><oda-label oda-label-value="detailsContest.histo"/></h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="menu-tabs">
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_param',args:{}});" role="tab"><oda-label oda-label-value="detailsContest.details"/></a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_live',args:{}});" role="tab"><oda-label oda-label-value="detailsContest.live"/></a></li>
        <li role="presentation" class="active"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_histo',args:{}});" role="tab"><oda-label oda-label-value="detailsContest.histo"/></a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_rules',args:{}});" role="tab"><oda-label oda-label-value="detailsContest.rules"/></a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'chargesContest',args:{}});" role="tab"><oda-label oda-label-value="detailsContest.title"/></a></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover" id="tabHisto">
                    <thead>
                    <tr>
                        <th>
                            <oda-label oda-label-value="histoContest.place"/>
                        </th>
                        <th>
                            <oda-label oda-label-value="histoContest.firstName"/>
                            <label oda-label="histoContest.firstName">firstName</label>
                        </th>
                        <th>
                            <oda-label oda-label-value="histoContest.lastName"/>
                        </th>
                        <th>
                            <oda-label oda-label-value="histoContest.end"/>
                        </th>
                        <th>
                            <oda-label oda-label-value="histoContest.endRound"/>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.HistoContest.start();
</script>