<div class="container">
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-4" style="text-align: center;">
            <img src="img/carre_150.png">
        </div>
        <div class="col-md-4" style="text-align: center">
            <h2 oda-label="home.title"></h2>
            <span oda-label="home.hello"></span>
        </div>
        <div class="col-md-4" style="text-align: center">
            <img src="img/carre_150.png">
        </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12" style="text-align: center;">
            <span oda-label="home.tournoisEnCours"></span>
        </div>
        <div class="col-md-12" id="divTabTournoisEnCours">
            <oda-loading></oda-loading>
        </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-12" style="text-align: center;">
            <span oda-label="home.tournoisFini"></span>
        </div>
        <div class="col-md-12" id="divTabTournoisFini">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.Home.start();
</script>