<div class="container">
    <h2 oda-label="liveContest.title" id="title">liveContest.title</h2>
    <div class="row">
        <div class="col-md-12" id="table">
            <div class="row">
                <div class="col-md-1 col-md-offset-3">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-3">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-md-offset-3">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
                <div class="col-md-1">
                    <oda-loading></oda-loading>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="stats">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.liveContest.start();
</script>

<style>
#table {
    height: 530px;
    width: 960px;
    background: url(img/Table-final.png) no-repeat center;
    background-size: 960px 530px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>