<div class="container">
    <h2 oda-label="liveContest.title" id="title">liveContest.title</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="menu-tabs">
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_param',args:{}});" role="tab" oda-label="detailsContest.details">detailsContest.details</a></li>
        <li role="presentation" class="active"><a href="" role="tab" oda-label="detailsContest.live">detailsContest.live</a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_histo',args:{}});" role="tab" oda-label="detailsContest.histo">detailsContest.histo</a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_rules',args:{}});" role="tab" oda-label="detailsContest.rules">detailsContest.rules</a></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div id="table">
                <div class="oda-grid-row">
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content"></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set4"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set5"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set6"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set7"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content"></div>
                    </div>
                </div>
                <div class="oda-grid-row">
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set3"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content"></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content">
                            <div class="panel panel-default" style="width: 95%">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span id="nameContest"></span></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default" title="start" onclick="$.Oda.App.Controler.LiveContest.changeDisplay()"><span class="glyphicon glyphicon-resize-full" aria-hidden="true" id="display"></span></button>
                                        <button type="button" class="btn btn-default" title="start" onclick="$.Oda.App.Controler.LiveContest.actionDecompte('start')" id="start"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default" title="pause" onclick="$.Oda.App.Controler.LiveContest.actionDecompte('pause')" id="pause"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
                                        <button type="button" class="btn btn-default" title="stop" onclick="$.Oda.App.Controler.LiveContest.actionDecompte('stop')" id="stop"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content">
                            <div class="panel panel-default" style="width: 95%">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Round infos</h3>
                                </div>
                                <div class="panel-body">
                                    <span id="round"></span>&nbsp;<span id="roundTime"></span><br>
                                    <span id="small"></span>&nbsp;<span id="big"></span>&nbsp;<span id="ante"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content"></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set8"><oda-loading></oda-loading></div>
                    </div>
                </div>
                <div class="oda-grid-row">
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content"></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set2"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set1"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set10"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content" id="set9"><oda-loading></oda-loading></div>
                    </div>
                    <div class="oda-grid-cell">
                        <div class="oda-grid-cell-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="stats" style="text-align: center;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <label oda-label="liveContest.labelTM">labelTM</label>
                    </th>
                    <th>
                        <label oda-label="liveContest.labelNbtapis">labelNbtapis</label>
                    </th>
                    <th>
                        <label oda-label="liveContest.label50">label50</label>
                    </th>
                    <th>
                        <label oda-label="liveContest.label30">label30</label>
                    </th>
                    <th>
                        <label oda-label="liveContest.label20">label20</label>
                    </th>
                    <th>
                        <label oda-label="liveContest.labelStartDate">labelStartDate</label>
                    </th>
                    <th>
                        <label oda-label="liveContest.labelDate">labelDate</label>
                    </th>
                    <th>
                        <label oda-label="liveContest.labelEndDate">labelEndDate</label>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span id="tm"></span>
                        </td>
                        <td>
                            <span id="nbTapis"></span>
                        </td>
                        <td>
                            <span id="50"></span>
                        </td>
                        <td>
                            <span id="30"></span>
                        </td>
                        <td>
                            <span id="20"></span>
                        </td>
                        <td>
                            <span id="startDate"></span>
                        </td>
                        <td>
                            <span id="date"></span>
                        </td>
                        <td>
                            <span id="endDate"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.LiveContest.start();

    var tableWidth = $("#table").width();
    var tableHeight = $("#table").height();
    var tableNbRow = $("#table .oda-grid-row").length;
    var tableNbCell = $("#table .oda-grid-row:first .oda-grid-cell").length;

    var rowHeight = tableHeight / tableNbRow;
    $("#table .oda-grid-row").height(rowHeight);

    var cellWidth = (tableWidth / tableNbCell);
    $("#table .oda-grid-row .oda-grid-cell").height(rowHeight);
    $("#table .oda-grid-row .oda-grid-cell").width(cellWidth);
</script>

<style>
#table {
    height: 530px;
    width: 960px;
    background: url(img/Table-final.png) no-repeat center;
    background-size: 960px 530px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.oda-grid-cell {
    text-align: center;
    float: left;
    display: table;
    width: 100%;
}
.oda-grid-cell-content {
    display: table-cell;
    vertical-align: middle;
}
.oda-panel-out {
    background-color: red;
    border-color: red;
}
.oda-panel-in {
    background-color: green;
    border-color: green;
}
</style>

<script id="templatePlayer" type="text/template">
    <div class="panel panel-default {{backgroudOut}}" style="width: 95%">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}} - {{nbTapis}}</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default {{disable}}" {{disable}} title="addon" onclick="$.Oda.App.Controler.LiveContest.addAddon({userId:{{userId}}})"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default {{disable}}" {{disable}} title="cave" onclick="$.Oda.App.Controler.LiveContest.addCave({userId:{{userId}}})"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default {{disable}}" {{disable}} title="quit" onclick="$.Oda.App.Controler.LiveContest.out({userId:{{userId}}})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</script>