<div class="container">
    <h2><oda-label oda-label-value="newContest.title"/></h2>
    <div class="row">
        <div class="col-md-12">
            <oda-input-text
                oda-input-text-name="name"
                oda-input-text-type="text"
                oda-input-text-label="newContest.name"
                oda-input-text-tips="newContest.name-tips"
                oda-input-text-advice="newContest.name-advice"
                oda-input-text-placeholder="newContest.name-placeholder"
                oda-input-text-check="Oda.Regexs:noInjection"
                oda-input-text-debounce="200"
                required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <oda-btn oda-btn-name="submit" oda-btn-style="primary" oda-btn-enter="1" oda-btn-icon-before="ok" oda-btn-click="$.Oda.App.Controler.NewContest.createContest();" disabled>oda-main.bt-submit</oda-btn>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.NewContest.start();
</script>