<div class="container">
    <h2><oda-label oda-label-value="detailsContest.rules"/></h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="menu-tabs">
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_param',args:{}});" role="tab" oda-label="detailsContest.details">detailsContest.details</a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_live',args:{}});" role="tab" oda-label="detailsContest.live">detailsContest.live</a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_histo',args:{}});" role="tab"><oda-label oda-label-value="detailsContest.histo"/></a></li>
        <li role="presentation" class="active"><a href="javascript:$.Oda.Router.navigateTo({'route':'tournoi_rules',args:{}});" role="tab" oda-label="detailsContest.rules">detailsContest.rules</a></li>
        <li role="presentation"><a href="javascript:$.Oda.Router.navigateTo({'route':'chargesContest',args:{}});" role="tab" oda-label="chargesContest.title">chargesContest.title</a></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <h3><oda-label oda-label-value="rulesContest.hands"/></h3>
            <ul>
                <li>
                    <h4>Quinte flush</h4>
                    La 'suite color&eacute;e' ou 'quinte-couleur', plus couramment appel&eacute;e &laquo; quinte flush &raquo; ou ''straight flush'' (de l'anglais), est form&eacute;e de cinq cartes de rangs cons&eacute;cutifs et dont la couleur est identique.<br>
                    Pour la d&eacute;crire, on donne sa couleur et le rang de la plus haute carte. Exemple : une quinte flush au huit &agrave; carreau.<br>
                    La 'quinte royale', plus souvent appel&eacute;e &laquo; quinte flush royale &raquo; (''royal flush''), est une suite color&eacute;e &agrave; l'As.<br>
                    Il n'y a pas connexion de l'As au Deux : la main &laquo; Dame, Roi, As, Deux, Trois &raquo; n'est pas une quinte flush valable. Une quinte flush contenant un As doit se terminer par l'As ou d&eacute;buter par l'As.<br>
                    <br>
                </li>
                <li>
                    <h4>Carr&eacute;</h4>
                    Le 'carr&eacute;' (''four of a kind'' ou ''poker'' en anglais) est form&eacute; par quatre cartes d'un m&ecirc;me rang, accompagn&eacute;es d'une carte quelconque.<br>
                    Pour la d&eacute;crire, on donne le rang (exemple, un carr&eacute; de rois).<br>
                    <br>
                </li>
                <li>
                    <h4>Main pleine</h4>
                    La 'main pleine', plus couramment appel&eacute;e ''full'' ou ''full house'' de l'anglais, est form&eacute;e d'un brelan et d'une paire.<br>
                    Pour la d&eacute;crire, on donne d'abord le rang du brelan puis celui de la paire (exemple, full aux rois par les trois).<br>
                    <br>
                </li>
                <li>
                    <h4>Couleur</h4>
                    La 'couleur' (''flush'' en anglais) est form&eacute;e de cinq cartes de couleur identique (qui ne forment pas une suite, sinon il s'agit d'une suite color&eacute;e). <br>
                    Pour la d&eacute;crire, on donne la couleur et le rang de la plus haute carte (exemple, une couleur au roi &agrave; carreau).<br>
                    <br>
                </li>
                <li>
                    <h4>Suite</h4>
                    La 'suite', parfois appel&eacute;e 'quinte' en fran&ccedil;ais, ou ''straight'' en anglais, est form&eacute;e de cinq cartes de rang cons&eacute;cutif (et d'au moins deux couleurs diff&eacute;rentes, sinon il s'agit d'une quinte flush).<br>
                    Pour la d&eacute;crire, on donne le rang de la plus haute carte (exemple, suite au huit).<br>
                    Il n'y a pas connexion de l'As au Deux, la main &laquo; Dame, Roi, As, Deux, Trois &raquo; n'est pas une suite valable. Autrement dit, une suite contenant un As doit se terminer par l'As ou d&eacute;buter par l'As (si cette convention est accept&eacute;e &agrave; la table)<br>
                    <br>
                </li>
                <li>
                    <h4>Suite ou quinte &laquo; blanche &raquo;</h4>
                    Si cette convention est accept&eacute;e &agrave; la table, les suites et la quinte pour lesquelles l'As vaut &laquo; un &raquo; sont possibles, alors cette suite est possible. L'As est alors compt&eacute; comme un &laquo; un &raquo; et c'est la plus faible suite ou quinte.<br>
                    Elle est parfois aussi appel&eacute;e la roue, ou ''bicycle'' en anglais.<br>
                    <br>
                </li>
                <li>
                    <h4>Brelan</h4>
                    Le 'brelan' (ou ''three of a kind'' en anglais) est form&eacute; par trois cartes de m&ecirc;me rang et deux autres cartes diff&eacute;rentes (sinon il s'agit d'un ''full'').<br>
                    Pour le d&eacute;crire, on donne le rang du groupe de trois cartes (exemple, un brelan de rois).<br>
                    <br>
                </li>
                <li>
                    <h4>Double paire</h4>
                    La 'double paire' (ou ''two pairs'' en anglais) est form&eacute;e par deux paires (de rangs diff&eacute;rents, sinon il s'agit d'un carr&eacute;) et d'une autre carte quelconque (de rang diff&eacute;rent des deux pr&eacute;c&eacute;dents, sinon il s'agit d'une ''main pleine''). <br>
                    Pour les d&eacute;crire, on donne le rang de la paire de carte de plus haut rang puis celle de carte de plus bas rang (exemple, une double paire de rois par les huit).<br>
                    <br>
                </li>
                <li>
                    <h4>Paire</h4>
                    La 'paire' (''pair'' en anglais) est form&eacute;e par deux cartes de m&ecirc;me rang et trois autres cartes quelconques dont le rang est diff&eacute;rent de la paire (sinon c'est un brelan) et diff&eacute;rent entre elles (sinon c'est une double paire).<br>
                    Pour la d&eacute;crire, on donne le rang de la paire de carte (exemple, une paire de huit).<br>
                    <br>
                </li>
                <li>
                    <h4>Carte haute</h4>
                    Une main &agrave; carte haute, parfois appel&eacute;e 'hauteur' (ou ''high card'' en anglais), est une combinaison de 5 cartes ne formant aucune des combinaisons pr&eacute;-cit&eacute;es.<br>
                    Pour la d&eacute;crire, on donne le rang de la carte de plus haut rang (exemple, un roi).<br>
                    <br>
                </li>
            </ul>
            <h3><oda-label oda-label-value="rulesContest.Lexicon"/></h3>
            <ul>
                <li>
                    Le tableau<br>
                    <img src="img/flop.png" border="0">
                </li>
                <li>
                    Les positions<br>
                    <img src="img/Holdem_Table.png" border="0">
                </li>
                <li>
                    Limper<br>
                    Commençons par une petite définition du terme Limp : <br>
                    Le fait de sous jouer une grosse Main au poker ( style A-A, K-K, Q-Q ) avant le Flop en ne faisant que Suivre, sans tenter de Relancer. On parle aussi de "Slow Play" ou Limp in.<br>
                </li>
            </ul>
        </div>
    </div>
</div>